/* body {
    font-family: QuattrocentoSans-Regular, sans-serif;
    ;
} */

/* ============= >>> NAV CSS START <<< ============= */
        .navbar {
            background-color: #1d2126;
        }

        .navbar-brand h4 {
            color: #a4aead;
        }

        .navbar-nav .nav-link:hover {
            color: #23b7a4;
        }

        #navbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .navbar-dark .navbar-nav .nav-link:hover {
            color: #23b7a4 !important;
        }

        @media (max-width: 767px) {
            #navbar {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1000;
            }
        }
/* ============= >>> NAV CSS END <<< ============= */

/* ============= >>> HOME CSS START <<< ============= */
        .btn-outline-light {
            color: #fff;
            border-color: #fff;
            background-color: transparent;
        }

        .btn-outline-light:hover {
            background-color: #23b7a4;
        }

        .home-section {
            background-image: url('path/to/your/image.jpg');
            background-size: cover;
            background-position: center;
            color: #fff;
            padding: 100px 0;
        }

        .home-section h3 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .home-section p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .btn-custom {
            margin-right: 10px;
            border-color: #fff;
            color: #fff;
            transition: background-color 0.3s;
        }

        .btn-custom:hover {
            background-color: #23b7a4 !important;
            border: transparent;
        }

        #home_section {
            background-image: url(https://images.pexels.com/photos/4688434/pexels-photo-4688434.jpeg?auto=compress&cs=tinysrgb&w=1860&h=750&dpr=1);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh;
        }

        .row.align-items-center {
            position: absolute;
            top: 35%;
        }
/* ============= >>> HOME CSS END <<< ============= */

/* ============= >>> ABOUT CSS START <<< ============= */
        .section-content {
            padding: 72px 0 0 !important;
        }

        .about-title {
            font-size: xx-large;
            padding-bottom: 48px;
            position: relative;
        }

        .about-title-page {
            padding-bottom: 48px;
        }

        .sec-paragraph {
            padding-top: 20px;
        }

        ul.my-social li {
            width: 60px;
            height: 60px;
            padding: 0;
            margin-right: -2px;
        }

        ul.my-social li a {
            background: #c8cdd0;
            display: block;
            height: 60px;
            text-align: center;
            line-height: 70px;
            color: #fff;
        }

        ul.list-inline.my-social {
            display: inline-flex;
        }

        .count {
            width: 72px;
            height: 48px;
            text-align: center;
            color: #fff;
            line-height: 48px;
            font-size: 18px;
            margin-right: 15px;
            background: #23b7a4;
        }

        .about-right-header {
            font-size: 22px;
            font-weight: 500;
        }
/* ============= >>> ABOUT CSS END <<< ============= */

/* ============= >>> TEAM CSS START <<< ============= */
        .teamate-footer-details {
            background: #e1e6ea;
            padding: 15px;
        }

        .card {
            position: relative;
            overflow: hidden;
        }

        .teamate-images {
            transition: filter 0.3s;
        }

        .card:hover .teamate-images {
            filter: blur(3px);
        }

        .card:hover .card-body.teamate-footer-details {
            background-color: #3a454d;
            transition: filter 0.3s;
            color: white;
        }

        .teamate-footer-details {
            background-color: #e1e6ea;
        }

        .image-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s;
        }

        .card:hover .image-overlay {
            opacity: 1;
        }

        .image-overlay button {
            margin-right: 10px;
        }

        @media (max-width: 767px) {
           .item-card-view{
            margin: 10px;
           }
          }




/* ============= >>> TEAM CSS END <<< ============= */

/* ============= >>> WORK CSS START <<< ============= */
        .section-content-with-bg {
            margin: 72px 0 0px;
            position: relative;
            background: #3a454d;
            overflow: hidden;
            border-bottom: 1px solid #D6D6D6;
        }

        .work-title-page {
            padding-bottom: 48px !important;
            padding-top: 48px !important;
        }

        .card-section {
            padding: 50px 0;
        }

        .card-img-top {
            width: auto;
            height: 300px;
            object-fit: cover;
        }

        .card-footer.image-overlay {
            position: absolute !important;
            top: 92% !important;
        }

        .load-more-btn {
            border: 1px solid #fff !important;
        }
        

        @media (max-width: 767px) {
            .work-card-view{
             margin: 10px;
            }
           }
/* ============= >>> wORK CSS END <<< ============= */

/* ============= >>> SERVICES CSS START <<< ============= */
        .service h3 {
            margin: 0;
            padding: 30px 0;
            font-size: 17px;
        }

        .service p {
            font-size: 16px;
            margin: 0;
            padding: 0 0 30px;
        }

        .color-a {
            color: #23b7a4;
        }
/* ============= >>> SERVICES CSS END <<< ============= */

/* ============= >>> FEATURE CSS START <<< ============= */
        .feature-card-img-top {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .feature h3 {
            color: #fff;
            margin: 0;
            padding: 30px 0;
            font-size: 18px;
            font-family: QuattrocentoSans-Regular, sans-serif;
        }

        .feature p {
            font-size: 16px;
            margin: 0;
            padding: 0;
            color: #dcdfe1;
        }

        @media (max-width: 767px) {
            .feature-card-view{
             margin: 10px;
            }
           }
/* ============= >>> FEATURE CSS END <<< ============= */

/* ============= >>> CONTACT US CSS START <<< ============= */
        .contact p {
            font-size: 16px;
            margin: 0;
            padding: 15px 0;
        }

        .contact h3 {
            font-size: 18px;
        }

        .contact-form {
            background: #fff !important;
            margin-top: -150px;
            padding-left: 30px;
            padding-right: 30px;
            height: 400px;
        }

        #message {
            border: 1px solid #ced4da !important;
        }

        .send-message-btn {
            margin-top: 20px;
            background-color: #23b7a4 !important;
        }

        @media (max-width: 767px) {
            .contact-form {
                background: #fff !important;
                margin-top: 0px;
                padding-left: 0px;
                padding-right: 0px;
                height: 400px;
            }
        }
/* ============= >>> CONTACT US CSS END <<< ============= */

/* ============= >>> FOOTER CSS START <<< ============= */
        footer {
            background: #000;
        }

        @media (max-width: 767px) {
            footer {
                background: #000;
                margin-top: 66px;
            }
        }

        .list-inline {
            display: inline-flex;
        }

        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

        .socMed ul.list-inline li a {
            color: #fff;
        }

        @media (max-width: 767px) {
            .footer-list-item {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }
/* ============= >>> FOOTER CSS END <<< ============= */